Source: direct-python
Section: utils
Priority: optional
Maintainer: Deebash Dharmalingam <deebash2009@gmail.com>
Build-Depends: debhelper-compat (=13)
Standards-Version: 4.5.0
Homepage: http://example.com

Package: direct-python
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Direct Python (mod_dp)
 A simple tool to execute Python code embedded within HTML files (imagine PHP).
